html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  color: var(--Color-Text-Dark, #041e42);

  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.container .category_top a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  color: #041e42;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid rgba(38, 30, 9, 0.15);
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/* NAVBAR */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(68, 50, 151);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;
  border-right: 1px solid rgb(214, 214, 214);
  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .navbar_top > a img {
  height: 36px;
  width: 117px;
  margin-right: 76px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;
  border-radius: 6px 6px 6px 6px;
  background: rgb(245, 195, 75);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  width: 54px;

  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_info_box strong {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  /* margin-left: 4px; */
}

.navbar_frame .box_icon_box .bascket_count {
  position: absolute;
  top: -2px;
  right: -2px;

  width: 15px;
  height: 15px;
  background: rgb(245, 195, 75);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(11, 30, 64);
  font-family: Inter;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bott {
  margin-top: 25px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}

.navbar_frame .navbar_bott .nav_bott_menu_box {
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.navbar_frame .nav_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  width: 20px;
  height: 18px;
  margin-right: 10px;
}

.navbar_frame .browse_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;
  width: px;
  display: flex;
}

.navbar_frame .router_menu a {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  text-decoration: none;
}

.navbar_frame .router_menu a.active {
  color: #c8c64a;
}

.navbar_frame .nav_bott_menu_box .sorting_menu {
  margin-left: 392px;
  display: flex;
  flex-direction: row;
  right: 100%;
  right: 100%;
}

.navbar_frame .sorting_menu span {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  text-decoration: none;
}

/* Selling product */

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

/* SHOP CATEGORY */

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category_box .category_image_box {
  width: 142px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  border: 1px solid var(--Color-Border, #eaeaea);
  background: var(--Bg-White, #fff);
}

.category_box span {
  margin-top: 15px;
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.container .product_wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.product_wrapper .next_prev_box {
  margin-left: 10px;
  width: 25px;
}

.next_prev_box img {
  position: absolute;
  top: 50%;
}

.product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* cursor: pointer; */
}

.product_box .product_image_box {
  width: 100%;
  height: 280px;
}

.product_image_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product_image_box:hover .hover_box {
  display: flex;
}

.hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  display: flex;
  width: 262.126px;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  background: #0053f6;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
}

.product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.product_content_box .product_title {
  color: var(--Color-Text-Light, #626974);
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
  text-transform: uppercase;
}

.product_content_box .product_disc {
  margin-top: 7px;
  height: 56px;
  overflow: hidden;
  color: var(--Color-Text-Dark, #041e42);
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}

.product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review_box img {
  margin-left: 5px;
}

.review_box span {
  margin-left: 10px;
  color: var(--Color-Text-Light, #626974);

  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price_box strong {
  color: var(--Color-Text-Dark, #041e42);

  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price_box span {
  margin-left: 13px;
  color: var(--Color-Text-Light, #626974);
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  text-decoration-line: line-through;
}
